<% if(locals.error){ %>
  Error: <%= locals.error %>
<% } %>

<form method="post" action="<%= req.baseUrl + "/" %>">
  <div>
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
  </div>

  <div>
    <label for="author">Author</label>
    <input type="text" name="author" id="author">
  </div>

  <div>
    <label for="intro">Intro</label>
    <textarea name="intro" id="intro" rows="5"></textarea>
  </div>

  <div>
    <label for="body">Body</label>
    <textarea name="body" id="body" rows="20"></textarea>
  </div>

  <div>
    <button type="submit">Save</button>
  </div>
</form>