<!-- views/users/login.ejs -->
<form action="/users/login" method="post">
  <label for="field_username">Username: </label>
  <input type="text" id="field_username" name="username" value="">

  <label for="field_password">Password: </label>
  <input type="text" id="field_password" name="password" value="">

  <button type="submit">Login!</button>
</form>