<%= include layouts/head %>

<h1>Server-side scripting &ndash; Exercise 2 &ndash; Task 3</h1>
<ul>
  <li><a href="/task3/title">Title</a></li>
  <li><a href="/task3/boolean">Boolean</a></li>
  <li><a href="/task3/loop">Loop</a></li>
</ul>

<%= include layouts/foot %>